h2 Find Donor
input(ng-model='searchInput', name='searchInput')
button(ng-click='search()') Search

section
ul
  li(ng-repeat='result in results') a(href='/donor-info/{{result.id}}') {{result.FirstName}} {{results.LastName}}