!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    base(href='/')
    title DonorView
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
  body
    block body